!!!5
%html
  %head
    %title Flatpak
    %meta{content: "text/html; charset=UTF8", "http-equiv" => "content-type"}/
    %meta{content: "fixme", name: "description"}/
    %meta{content: "fixme", name: "keywords"}/
    %meta{content: "width=device-width,initial-scale=1", name: "viewport" }/ 
    %link{rel:"icon", "type" => "image/png", href:"/images/icons/favicon.png"}/
    %link{rel:"shortcut icon", "type" => "image/x-icon", href:"/favicon.ico"}/
    = stylesheet_link_tag :_fonts
    = stylesheet_link_tag :site
    = stylesheet_link_tag :_animate
    /= stylesheet_link_tag "http://overpass-30e2.kxcdn.com/overpass.css"

  %body#page-top
    %nav#mainNav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          -if (current_page.path == 'index.html')
            %a.navbar-brand.page-scroll{:href => "#page-top"} Flatpak
          -else
            %a.navbar-brand.page-scroll{:href => "index.html"} Flatpak
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            -if (current_page.path == 'index.html')
              %li
                %a.page-scroll{:href => "#about"} About
              %li
                %a.page-scroll{:href => "#users"} Users
              %li
                %a.page-scroll{:href => "#developers"} Developers
              %li
                %a.page-scroll{:href => "#get-involved"} Get Involved
            -else
              %li
                %a.page-scroll{:href => "index.html#about"} About
              %li
                %a.page-scroll{:href => "index.html#users"} Users
              %li
                %a.page-scroll{:href => "index.html#developers"} Developers
              %li
                %a.page-scroll{:href => "index.html#get-involved"} Get Involed
        / /.navbar-collapse
      / /.container-fluid
  = yield

  = javascript_include_tag :jquery
  = javascript_include_tag "jquery.easing.min"
  = javascript_include_tag :all
  = javascript_include_tag :bootstrap
:javascript
  
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-68811788-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
