!!!5
%html
  %head
    %title
      =current_page.data.title
    %meta{content: "text/html; charset=UTF8", "http-equiv" => "content-type"}/
    %meta{content: "#{current_page.data.description}", name: "description"}/
    %meta{content: "bundle,application,runtime,flatpak,xdg-app", name: "keywords"}/
    %meta{content: "width=device-width,initial-scale=1", name: "viewport" }/
    %link{rel:"icon", "type" => "image/svg+xml", href:"img/favicon.svg"}/
    %link{rel:"shortcut icon", "type" => "image/x-icon", href:"/favicon.ico"}/
    %link{rel:"apple-touch-icon", "sizes" => "180x180", href:"img/apple-touch-icon.png"}/
    = stylesheet_link_tag :fonts
    = stylesheet_link_tag :site
    = stylesheet_link_tag :animate
    %meta{content: "#{data.site.name}", name: "title" }/
    %meta{content: "#{data.site.punchline}", name: "description" }/

    %meta{content: "#{data.site.name}", name: "twitter:title" }/
    %meta{content: "#{data.site.domain}#{url_for 'img/card.png'}", name: "twitter:image" }/
    %meta{content: "summary_large_image", name: "twitter:card" }/
    %meta{content: "#{data.site.punchline}", name: "twitter:description" }/

    %meta{content: "#{data.site.name}", name: "og:title" }/
    %meta{content: "#{data.site.domain}", name: "og:url" }/
    %meta{content: "#{data.site.domain}#{url_for 'img/card.png'}", name: "og:image" }/
    %meta{content: "#{data.site.punchline}", name: "og:description" }/

  = javascript_include_tag "jquery-2.2.4.min"
  = javascript_include_tag "jquery.easing.min"
  = javascript_include_tag "jquery.toc.min"
  = javascript_include_tag :bootstrap
  = javascript_include_tag :all
  = matomo

  %body#page-top
    %nav#mainNav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to "Flatpak", "/index.html", :class => "navbar-brand page-scroll"

        = partial "navigation"
      / /.container-fluid
  = yield
  = partial "footer"

