%section#footer.bg-black
  .container
    .row
      .col-lg-3.col-lg-offset-1
        %a.navbar-brand.page-scroll{:href => "#page-top"} 
          =image_tag 'img/logo.svg', :title => 'Flatpak', :class => 'full'
      %ul.col-lg-7
        - data.menu.each do |i|
          %li.toplevel
            /id links on index page
            - if (current_page.path == 'index.html')
              = link_to i.title, i.link, :class => "pqge-scroll"
            - else
              - if (i.link.match('^#'))
                = "<a class='page-scroll' href='index.html#{i.link}'>#{i.title}</a>"
              - else
                = link_to i.title, i.link, :class => "pqge-scroll"
            - if !i.submenu.nil?
              %ul
                - i.submenu.each do |j|
                  %li
                    = link_to j.title, j.link, :class => "pqge-scroll"
