---
title: Flatpak - the future of application distribution
description: About Flatpak
---

%section#about
  .container
    .row
      .col-lg-10.col-lg-offset-1
        %h1.section-heading.text-center About
        %hr.primary
        %p
          Flatpak might be a new technology, but it's not a new idea. It grew out of the experience of long-standing Linux desktop engineers, and has been in the planning for years.
          
        %p 
          Flatpak is developed by an independent community, made up of volunteers and contributors from supporting organizations. Its lead developer is Alex Larsson, Principal Engineer at Red Hat. Alex has been working on critical open source projects for almost 20 years.
        %p
          All our code is freely available, with no contributor agreement required. We collaborate and liaise with other communities and projects as much as possible, and welcome their input.
        %p
          For more information, see our 
          = succeed "," do
            = link_to "FAQ", "faq.html"
          =link_to "command line","http://docs.flatpak.org/en/latest/command-reference.html"
          and 
          = link_to "developer guidelines", "http://docs.flatpak.org/"
          and the 
          = succeed "." do
            = link_to "developer wiki", "https://github.com/flatpak/flatpak/wiki"
    .row.largegap
      .col-lg-12.text-center
        %h3 Contact
    .row
      .col-lg-2.col-xs-4.col-lg-offset-4
        .right.toneddown Mailing list
      .col-lg-4.col-xs-8          
        =link_to "flatpak@lists.freedesktop.org", "http://lists.freedesktop.org/mailman/listinfo/flatpak"
    .row
      .col-lg-2.col-xs-4.col-lg-offset-4
        .right.toneddown IRC
      .col-lg-4.col-xs-8          
        \#flatpak on Freenode
    .row
      .col-lg-2.col-xs-4.col-lg-offset-4
        .right.toneddown Code, Issues and Wiki
      .col-lg-4.col-xs-8
        See our
        =link_to "Github project", "https://github.com/flatpak/flatpak"
