---
title: Flatpak Applications
description: Applications distributed as Flatpaks, ready to download.
---
%section
  .container
    .row
      .col-lg-10.col-lg-offset-1
        %h1 Flatpak Applications
        %p 
          This page lists some of the apps that are available as Flatpaks, along with instructions for how 
          to try them. If you don't have it already, you'll need to
          =link_to "get Flatpak.", "getting.html"

          More applications can be found
          =link_to "on Flathub.", "https://flathub.org/"

        %ul#tabs.nav.nav-tabs{"role" => "tablist"}
          %li.active{:role => "presentation"}
            %a{:href => "#graphical", :role => "tab", "data-toggle" => "tab"} Click to Download
          %li{:role => "presentation"}
            %a{:href => "#cli", :role => "tab", "data-toggle" => "tab"} Command Line
        
        .tab-content.mediumgap
          %div#graphical.tab-pane.active.fade.in{:role => "tabpanel"}


            %p
              Click to download is available with Fedora 25 (and newer), Mageia 6 (and newer), OpenSUSE Tumbleweed, 
              Debian 9 (and newer), and Arch, using GNOME Software. Some applications require version 3.22.6 or later.

            .appslist.row            
              .col-xs-12
                .row
                  %h4.col-xs-12 Stable Applications
                  
                  - data.apps.each do |i|
                    - if (i.stable) 
                      .col-xs-12.col-sm-6.apptile
                        %div
                          %h4 #{i.name}
                          %p #{i.description}
                        = link_to '', i.stable, :class => "btn"
                        
            .appslist.row            
              .col-xs-12
                .row
                  %h4.col-xs-12 Nightly Builds of Applications (Unstable)
                  
                  - data.apps.each do |i|
                    - if (i.nightly) 
                      .col-xs-12.col-sm-6.apptile
                        %div
                          %h4 #{i.name}
                          %p #{i.description}
                        = link_to '', i.nightly, :class => "btn"

          %div#cli.tab-pane.fade{:role => "tabpanel"}

            %p
              These command line instructions require Flatpak 0.6.13 or newer.
              Once installed, applications can be launched from the usual place in your desktop. For more
              information on how to update and manage your applications, see the 
              =link_to "command line tutorial.", "command-line.html"

            - data.apps.each do |i|
              - if (i.cli)
                %a{:name => i.name}
                %h4 #{i.name}
                
                - if (i.instructions)
                  = i.instructions
                  
                - if (i.cli) 
                  - i.cli.each do |j|
                    %pre
                      <span class="unselectable">$ </span>#{j}

            %h2 GNOME
            %p Many GNOME applications are available as both stable or unstable development versions. Stable versions can be installed individually using the instructions in this section, or you can add the repository and browse its contents from the command line.
            
            %h3 Stable
            %p First, make sure you have the GNOME runtimes repository:
            %pre
              <span class='unselectable'>$ </span>flatpak remote-add --if-not-exists gnome https://sdk.gnome.org/gnome.flatpakrepo
            %p Now add the GNOME applications repository:
            %pre
              <span class='unselectable'>$ </span>flatpak remote-add gnome-apps https://sdk.gnome.org/gnome-apps.flatpakrepo
            %p To install and run the stable version:

            - data.apps.each do |i| #one more time for gnome stable apps
              - if (i.gnome && i.stable)
                %h5 #{i.name}
                %pre
                  :preserve
                    <span class='unselectable'>$ </span>flatpak install --from #{i.stable}
                    <span class='unselectable'>$ </span>flatpak run #{i.appid}
            
            %h3 Development/Unstable
            %p Unstable development versions of the GNOME applications can be installed individually or by adding and browsing the repository from the command line.
            %p First, make sure you have the unstable GNOME runtimes repository:
            %pre
              <span class='unselectable'>$ </span>flatpak remote-add --if-not-exists gnome-nightly https://sdk.gnome.org/gnome-nightly.flatpakrepo
            %p Now add the GNOME applications repository:
            %pre
              <span class='unselectable'>$ </span>flatpak remote-add gnome-apps-nightly https://sdk.gnome.org/gnome-apps-nightly.flatpakrepo
            %p To install and run the unstable version:

            - data.apps.each do |i| #aaand one more for gnome unstable apps
              - if (i.gnome && i.nightly)
                %h5 #{i.name}
                %pre
                  :preserve
                    <span class='unselectable'>$ </span>flatpak install --from #{i.nightly}
                    <span class='unselectable'>$ </span>flatpak run #{i.appid}

