---
title: Flatpak Applications
description: Applications distributed as Flatpaks, ready to download.
---
%section
  .container
    .row
      .col-lg-10.col-lg-offset-1
        %h1 Flatpak Applications
        %p 
          This page lists some of the apps that are available as Flatpaks, along with instructions for how to try them.
        %p 
          The instructions on this page require Flatpak 0.6.13 or newer. To find out how to install it, see 
          =link_to "Getting Flatpak.", "getting.html"
          For instructions on how to update and manage applications once they have been installed, see the 
          =link_to "command line tutorial.", "command-line.html"
          


        %ul#tabs.nav.nav-tabs{"role" => "tablist"}
          %li.active{:role => "presentation"}
            %a{:href => "#graphical", :role => "tab", "data-toggle" => "tab"} Graphical
          %li{:role => "presentation"}
            %a{:href => "#cli", :role => "tab", "data-toggle" => "tab"} Command Line
        
        .tab-content.mediumgap
          %div#graphical.tab-pane.active.fade.in{:role => "tabpanel"}

            .appslist.row            
              = app_download "Libre Office", "http://download.documentfoundation.org/libreoffice/flatpak/latest/LibreOffice.flatpak"
              = app_download "Telegram", "#"
              = app_download "Spotify", "#"
              = app_download "Skype", "#"
              = app_download "MonoDevelop", "#"
              = app_download "Blender", "https://www.daitauha.fr/static/flatpak/blender.flatpakref"

                  
            .appslist.row
              = app_download "GNOME Twitch", "#"
              = app_download "Pithos", "#"
              = app_download "Transmission", "#"
              = app_download "Pitivi", "#"
              = app_download "GNOME MPV", "#"
              = app_download "Corebird", "#"
              = app_download "Picard", "https://www.daitauha.fr/static/flatpak/picard.flatpakref"
              
            .appslist.row
              .col-xs-12
                %h4 GNOME Stable Apps
              = app_download "Builder", "#"
              = app_download "Calculator", "#"
              = app_download "Calendar", "#"
              = app_download "Clocks", "#"
              = app_download "Dictionary", "#"
              = app_download "Evince", "#"
              = app_download "Eye of GNOME", "#"
              = app_download "Gedit", "#"
              = app_download "Iagno", "#"
              = app_download "Maps", "#"
              = app_download "Notes", "#"
              = app_download "Polari", "#"
              = app_download "Rhythmbox", "#"
              = app_download "Todo", "#"
              = app_download "Weather", "#"
              = app_download "Web", "#"

            .appslist.row
              .col-xs-12
                %h4 GNOME Untable Apps
              = app_download "Builder", "#"
              = app_download "Calculator", "#"
              = app_download "Calendar", "#"
              = app_download "Clocks", "#"
              = app_download "Dictionary", "#"
              = app_download "Evince", "#"
              = app_download "Eye of GNOME", "#"
              = app_download "Gedit", "#"
              = app_download "Iagno", "#"
              = app_download "Maps", "#"
              = app_download "Notes", "#"
              = app_download "Polari", "#"
              = app_download "Rhythmbox", "#"
              = app_download "Todo", "#"
              = app_download "Weather", "#"
              = app_download "Web", "#"
              
          %div#cli.tab-pane.fade{:role => "tabpanel"}
            %a{:name => "libreoffice"}
            %h4 LibreOffice
              
            LibreOffice is available as a standalone Flatpak file.
            
            %pre
              :preserve
                <span class="unselectable">$ </span>flatpak remote-add --if-not-exists gnome https://sdk.gnome.org/gnome.flatpakrepo
                <span class="unselectable">$ </span>wget http://download.documentfoundation.org/libreoffice/flatpak/latest/LibreOffice.flatpak
                <span class="unselectable">$ </span>flatpak install --bundle LibreOffice.flatpak

            For more information, see the LibreOffice 
            = succeed "." do
              = link_to "Flatpak page", "http://www.libreoffice.org/download/flatpak/"

            %a{:name => "telegram"}          
            %h4 Telegram

            Experimental nightly builds of the 
            = link_to "Telegram", "https://telegram.org" 
            desktop client are being produced by 
            = link_to "Jan Grulich", "http://www.jgrulich.cz"

            %pre
              :preserve
                <span class="unselectable">$ </span>flatpak install --from https://jgrulich.fedorapeople.org/telegram/telegram.flatpakref
                <span class="unselectable">$ </span>flatpak run org.telegram.TelegramDesktopDevel

            %a{:name => "blender"}
            %h4 Blender

            Experimental builds of the
            = link_to "Blender" "https://blender.org"
            releases are being produced by
            = link_to "Mathieu Bridon", "https://mathieu.daitauha.fr"

            %pre
              :preserve
                <span class="unselectable">$ </span>flatpak install --from https://www.daitauha.fr/static/flatpak/blender.flatpakref
                <span class="unselectable">$ </span>flatpak run org.blender.Blender

            %a{:name => "picard"}
            %h4 Picard

            Experimental builds of the
            = link_to "MusicBrainz's Picard" "https://picard.musicbrainz.org/"
            releases are being produced by
            = link_to "Mathieu Bridon", "https://mathieu.daitauha.fr"
            
            %pre
              :preserve
                <span class="unselectable">$ </span>flatpak install --from https://www.daitauha.fr/static/flatpak/picard.flatpakref
                <span class="unselectable">$ </span>flatpak run org.musicbrainz.Picard

            %a{:name => "spotify"}
            %h4 Spotify

            %p
              Builds of the latest 
              = link_to "Spotify", "https://spotify.com/"
              desktop client are being produced by Alex Larsson.

            %pre
              :preserve
                <span class="unselectable">$ </span>flatpak install --from https://s3.amazonaws.com/alexlarsson/spotify-repo/spotify.flatpakref
                <span class="unselectable">$ </span>flatpak run com.spotify.Client

:javascript
$(function () {

});
