---
title: Flatpak Applications
description: Applications distributed as Flatpaks, ready to download.
---
%section
  .container
    .row
      .col-lg-10.col-lg-offset-1
        %h1 Flatpak Applications
        %p 
          This page lists some of the apps that are available as Flatpaks, along with instructions for how 
          to try them. If you don't have it already, you'll need to
          =link_to "get Flatpak.", "getting.html"

        %ul#tabs.nav.nav-tabs{"role" => "tablist"}
          %li.active{:role => "presentation"}
            %a{:href => "#graphical", :role => "tab", "data-toggle" => "tab"} Click to Download
          %li{:role => "presentation"}
            %a{:href => "#cli", :role => "tab", "data-toggle" => "tab"} Command Line
        
        .tab-content.mediumgap
          %div#graphical.tab-pane.active.fade.in{:role => "tabpanel"}

            %p
              Click to download is available with Fedora 25, OpenSUSE Tumbleweed, Debian Testing, Arch, and Mageia 
              Cauldron.

            .appslist.row            
              = app_download "LibreOffice", "http://download.documentfoundation.org/libreoffice/flatpak/LibreOffice.flatpakref"
              = app_download "Telegram", "https://jgrulich.fedorapeople.org/telegram/telegram.flatpakref"
              = app_download "Spotify", "https://s3.amazonaws.com/alexlarsson/spotify-repo/spotify.flatpakref"
              = app_download "Skype", "https://s3.amazonaws.com/alexlarsson/skype-repo/skype.flatpakref"
              = app_download "MonoDevelop", "https://download.mono-project.com/repo/monodevelop.flatpakref"
              = app_download "Blender", "https://www.daitauha.fr/static/flatpak/blender.flatpakref"

                  
            .appslist.row
              = app_download "GNOME Twitch", "https://dl.tingping.se/flatpak/gnome-twitch.flatpakref"
              = app_download "Pithos", "https://dl.tingping.se/flatpak/pithos.flatpakref"
              = app_download "Transmission Remote Gtk", "https://dl.tingping.se/flatpak/transmission-remote-gtk.flatpakref"
              / = app_download "Pitivi", "#"
              = app_download "GNOME MPV", "https://dl.tingping.se/flatpak/gnome-mpv.flatpakref"
              / = app_download "Corebird", "#"
              = app_download "Picard", "https://www.daitauha.fr/static/flatpak/picard.flatpakref"
            
            /
              .appslist.row
                .col-xs-12
                  %h4 GNOME Stable Apps
                = app_download "Builder", "#"
                = app_download "Calculator", "#"
                = app_download "Calendar", "#"
                = app_download "Clocks", "#"
                = app_download "Dictionary", "#"
                = app_download "Evince", "#"
                = app_download "Eye of GNOME", "#"
                = app_download "Gedit", "#"
                = app_download "Iagno", "#"
                = app_download "Maps", "#"
                = app_download "Notes", "#"
                = app_download "Polari", "#"
                = app_download "Rhythmbox", "#"
                = app_download "Todo", "#"
                = app_download "Weather", "#"
                = app_download "Web", "#"

              .appslist.row
                .col-xs-12
                  %h4 GNOME Untable Apps
                = app_download "Builder", "#"
                = app_download "Calculator", "#"
                = app_download "Calendar", "#"
                = app_download "Clocks", "#"
                = app_download "Dictionary", "#"
                = app_download "Evince", "#"
                = app_download "Eye of GNOME", "#"
                = app_download "Gedit", "#"
                = app_download "Iagno", "#"
                = app_download "Maps", "#"
                = app_download "Notes", "#"
                = app_download "Polari", "#"
                = app_download "Rhythmbox", "#"
                = app_download "Todo", "#"
                = app_download "Weather", "#"
                = app_download "Web", "#"
              
          %div#cli.tab-pane.fade{:role => "tabpanel"}

            %p
              These command line instructions require Flatpak 0.6.13 or newer.
              Once installed, applications can be launched from the usual place in your desktop. For more
              information on how to update and manage your applications, see the 
              =link_to "command line tutorial.", "command-line.html"

            %a{:name => "libreoffice"}
            %h4 LibreOffice
              
            LibreOffice is available as a standalone Flatpak file.
            
            %pre
              :preserve
                <span class="unselectable">$ </span>flatpak remote-add --if-not-exists gnome https://sdk.gnome.org/gnome.flatpakrepo
                <span class="unselectable">$ </span>wget http://download.documentfoundation.org/libreoffice/flatpak/latest/LibreOffice.flatpak
                <span class="unselectable">$ </span>flatpak install --bundle LibreOffice.flatpak

            For more information, see the LibreOffice 
            = succeed "." do
              = link_to "Flatpak page", "http://www.libreoffice.org/download/flatpak/"

            %a{:name => "telegram"}          
            %h4 Telegram

            Experimental nightly builds of the 
            = link_to "Telegram", "https://telegram.org" 
            desktop client are being produced by 
            = link_to "Jan Grulich", "http://www.jgrulich.cz"

            %pre
              :preserve
                <span class="unselectable">$ </span>flatpak install --from https://jgrulich.fedorapeople.org/telegram/telegram.flatpakref
                <span class="unselectable">$ </span>flatpak run org.telegram.TelegramDesktopDevel

            %a{:name => "spotify"}
            %h4 Spotify

            %p
              Builds of the latest 
              = link_to "Spotify", "https://spotify.com/"
              desktop client are being produced by Alex Larsson.

            %pre
              :preserve
                <span class="unselectable">$ </span>flatpak install --from https://s3.amazonaws.com/alexlarsson/spotify-repo/spotify.flatpakref
                <span class="unselectable">$ </span>flatpak run com.spotify.Client

            %a{:name => "skype"}
            %h4 Skype

            Builds of the alpha version of the 
            = link_to "Skype", "http://skype.com"
            desktop client are being made available by Alex Larsson.
            
            %pre
              :preserve
                <span class="unselectable">$ </span>flatpak install --from https://s3.amazonaws.com/alexlarsson/skype-repo/skype.flatpakref
                <span class="unselectable">$ </span>flatpak run com.skype.Client

            %a{:name => "monodevelop"}
            %h4 MonoDevelop

            MonoDevelop is available as a Flatpak preview from Xamarin. See the 
            = link_to "MonoDevelop Linux download page", "http://www.monodevelop.com/download/linux/"
            for more information.
            
            %pre
              :preserve
                <span class="unselectable">$ </span>flatpak install --from https://download.mono-project.com/repo/monodevelop.flatpakref
                <span class="unselectable">$ </span>flatpak run com.xamarin.MonoDevelop
                
            %a{:name => "blender"}
            %h4 Blender

            Experimental builds of the
            = link_to "Blender" "https://blender.org"
            releases are being produced by
            = link_to "Mathieu Bridon", "https://mathieu.daitauha.fr"

            %pre
              :preserve
                <span class="unselectable">$ </span>flatpak install --from https://www.daitauha.fr/static/flatpak/blender.flatpakref
                <span class="unselectable">$ </span>flatpak run org.blender.Blender

            %a{:name => "picard"}
            %h4 Picard

            Experimental builds of the
            = link_to "MusicBrainz's Picard", "https://picard.musicbrainz.org/"
            releases are being produced by
            = link_to "Mathieu Bridon", "https://mathieu.daitauha.fr"
            
            %pre
              :preserve
                <span class="unselectable">$ </span>flatpak install --from https://www.daitauha.fr/static/flatpak/picard.flatpakref
                <span class="unselectable">$ </span>flatpak run org.musicbrainz.Picard




