---
title: Flatpak Applications
description: Applications distributed as Flatpaks, ready to download.
---
%section
  .container
    .row
      .col-lg-10.col-lg-offset-1
        %h1 Flatpak Applications
        %p 
          This page lists some of the apps that are available as Flatpaks, along with instructions for how 
          to try them. If you don't have it already, you'll need to
          =link_to "get Flatpak.", "getting.html"

        %ul#tabs.nav.nav-tabs{"role" => "tablist"}
          %li.active{:role => "presentation"}
            %a{:href => "#graphical", :role => "tab", "data-toggle" => "tab"} Click to Download
          %li{:role => "presentation"}
            %a{:href => "#cli", :role => "tab", "data-toggle" => "tab"} Command Line
        
        .tab-content.mediumgap
          %div#graphical.tab-pane.active.fade.in{:role => "tabpanel"}

            %p
              Click to download is available with Fedora 25, OpenSUSE Tumbleweed, Debian Testing, Arch, and Mageia 
              Cauldron.

            .appslist.row            
              = app_download "LibreOffice", "http://download.documentfoundation.org/libreoffice/flatpak/LibreOffice.flatpakref"
              = app_download "Telegram", "https://jgrulich.fedorapeople.org/telegram/telegram.flatpakref"
              = app_download "Spotify", "https://s3.amazonaws.com/alexlarsson/spotify-repo/spotify.flatpakref"
              = app_download "Skype", "https://s3.amazonaws.com/alexlarsson/skype-repo/skype.flatpakref"
              = app_download "MonoDevelop", "https://download.mono-project.com/repo/monodevelop.flatpakref"
              = app_download "Blender", "https://www.daitauha.fr/static/flatpak/blender.flatpakref"

                  
            .appslist.row
              = app_download "GNOME Twitch", "https://dl.tingping.se/flatpak/gnome-twitch.flatpakref"
              = app_download "Pithos", "https://dl.tingping.se/flatpak/pithos.flatpakref"
              = app_download "Transmission Remote Gtk", "https://dl.tingping.se/flatpak/transmission-remote-gtk.flatpakref"
              = app_download "Pitivi", "http://flatpak.pitivi.org/pitivi.flatpakref"
              = app_download "GNOME MPV", "https://dl.tingping.se/flatpak/gnome-mpv.flatpakref"
              = app_download "Corebird", "http://baedert.org/repo/org.baedert.corebird.flatpakref"
              = app_download "Picard", "https://www.daitauha.fr/static/flatpak/picard.flatpakref"
              = app_download "FeedReader", "http://feedreader.xarbit.net/feedreader-repo/feedreader.flatpakref"

            .appslist.row
              .col-xs-12
                %h4 GNOME Stable Apps
                = app_download "Builder", "https://git.gnome.org/browse/gnome-apps-nightly/tree/gnome-builder.flatpakref?h=gnome-3-22"
                = app_download "Documents", "https://git.gnome.org/browse/gnome-apps-nightly/tree/gnome-documents.flatpakref?h=gnome-3-22"
                = app_download "Photos", "https://git.gnome.org/browse/gnome-apps-nightly/tree/gnome-photos.flatpakref?h=gnome-3-22"
                = app_download "Recipes", "https://matthiasclasen.github.io/recipes-releases/gnome-recipes.flatpakref"

            .appslist.row
              .col-xs-12
                %h4 GNOME Unstable Apps
                = app_download "Builder", "https://git.gnome.org/browse/gnome-apps-nightly/plain/gnome-builder.flatpakref"
                = app_download "Documents", "https://git.gnome.org/browse/gnome-apps-nightly/tree/gnome-documents.flatpakref"
                = app_download "Photos", "https://git.gnome.org/browse/gnome-apps-nightly/plain/gnome-photos.flatpakref"
                / = app_download "Recipes", "https://matthiasclasen.github.io/recipes-releases/gnome-recipes.flatpakref"
                / = app_download "Calculator", "https://git.gnome.org/browse/gnome-apps-nightly/plain/gnome-calculator.flatpakref"
                / = app_download "Calendar", "https://git.gnome.org/browse/gnome-apps-nightly/plain/gnome-calendar.flatpakref"
                / = app_download "Clocks", "https://git.gnome.org/browse/gnome-apps-nightly/plain/gnome-clocks.flatpakref"
                / = app_download "Dictionary", "https://git.gnome.org/browse/gnome-apps-nightly/plain/gnome-dictionary.flatpakref"
                / = app_download "Evince", "#"
                / = app_download "Eye of GNOME", "#"
                / = app_download "Gedit", "#"
                / = app_download "Iagno", "#"
                / = app_download "Maps", "#"
                / = app_download "Notes", "#"
                / = app_download "Polari", "#"
                / = app_download "Rhythmbox", "#"
                / = app_download "Todo", "#"
                / = app_download "Weather", "#"
                / = app_download "Web", "#"
              
          %div#cli.tab-pane.fade{:role => "tabpanel"}

            %p
              These command line instructions require Flatpak 0.6.13 or newer.
              Once installed, applications can be launched from the usual place in your desktop. For more
              information on how to update and manage your applications, see the 
              =link_to "command line tutorial.", "command-line.html"

            %a{:name => "libreoffice"}
            %h4 LibreOffice
              
            LibreOffice is available as a standalone Flatpak file.
            
            %pre
              :preserve
                <span class="unselectable">$ </span>flatpak remote-add --if-not-exists gnome https://sdk.gnome.org/gnome.flatpakrepo
                <span class="unselectable">$ </span>wget http://download.documentfoundation.org/libreoffice/flatpak/latest/LibreOffice.flatpak
                <span class="unselectable">$ </span>flatpak install --bundle LibreOffice.flatpak

            For more information, see the LibreOffice 
            = succeed "." do
              = link_to "Flatpak page", "http://www.libreoffice.org/download/flatpak/"

            %a{:name => "telegram"}          
            %h4 Telegram

            Experimental nightly builds of the 
            = link_to "Telegram", "https://telegram.org" 
            desktop client are being produced by 
            = link_to "Jan Grulich", "http://www.jgrulich.cz"

            %pre
              :preserve
                <span class="unselectable">$ </span>flatpak install --from https://jgrulich.fedorapeople.org/telegram/telegram.flatpakref
                <span class="unselectable">$ </span>flatpak run org.telegram.TelegramDesktopDevel

            %a{:name => "spotify"}
            %h4 Spotify

            %p
              Builds of the latest 
              = link_to "Spotify", "https://spotify.com/"
              desktop client are being produced by Alex Larsson.

            %pre
              :preserve
                <span class="unselectable">$ </span>flatpak install --from https://s3.amazonaws.com/alexlarsson/spotify-repo/spotify.flatpakref
                <span class="unselectable">$ </span>flatpak run com.spotify.Client

            %a{:name => "skype"}
            %h4 Skype

            Builds of the alpha version of the 
            = link_to "Skype", "http://skype.com"
            desktop client are being made available by Alex Larsson.
            
            %pre
              :preserve
                <span class="unselectable">$ </span>flatpak install --from https://s3.amazonaws.com/alexlarsson/skype-repo/skype.flatpakref
                <span class="unselectable">$ </span>flatpak run com.skype.Client

            %a{:name => "monodevelop"}
            %h4 MonoDevelop

            MonoDevelop is available as a Flatpak preview from Xamarin. See the 
            = link_to "MonoDevelop Linux download page", "http://www.monodevelop.com/download/linux/"
            for more information.
            
            %pre
              :preserve
                <span class="unselectable">$ </span>flatpak install --from https://download.mono-project.com/repo/monodevelop.flatpakref
                <span class="unselectable">$ </span>flatpak run com.xamarin.MonoDevelop
                
            %a{:name => "blender"}
            %h4 Blender

            Experimental builds of the
            = link_to "Blender" "https://blender.org"
            releases are being produced by
            = link_to "Mathieu Bridon", "https://mathieu.daitauha.fr"

            %pre
              :preserve
                <span class="unselectable">$ </span>flatpak install --from https://www.daitauha.fr/static/flatpak/blender.flatpakref
                <span class="unselectable">$ </span>flatpak run org.blender.Blender

            %a{:name => "picard"}
            %h4 Picard

            Experimental builds of the
            = link_to "MusicBrainz's Picard", "https://picard.musicbrainz.org/"
            releases are being produced by
            = link_to "Mathieu Bridon", "https://mathieu.daitauha.fr"
            
            %pre
              :preserve
                <span class="unselectable">$ </span>flatpak install --from https://www.daitauha.fr/static/flatpak/picard.flatpakref
                <span class="unselectable">$ </span>flatpak run org.musicbrainz.Picard

            %a{:name => "pitivi"}
            %h4 Pitivi

            Pitivi master (development version) can be installed

            %pre
              :preserve
                <span class="unselectable">$ </span>flatpak install --user http://flatpak.pitivi.org/pitivi-master.flatpakref

            Pitivi release can be installed
            %pre
              :preserve
                <span class="unselectable">$ </span>flatpak install --user http://flatpak.pitivi.org/pitivi.flatpakref


            You can now launch Pitivi from your applications menu as any other installed application. You can also re run the installer which launches Pitivi after updating to the latest version. To see if warning or error messages are printed in the console, run: 
            %pre
              :preserve
                <span class="unselectable">$ </span>flatpak run org.pitivi.Pitivi//stable

            If for some reason you need to use an older Pitivi version, run: 
            %pre
              :preserve
                <span class="unselectable">$ </span>flatpak run org.pitivi.Pitivi//0.96

            %a{:name => "corebird"}
            %h4 Corebird

            Experimental builds of the
            = link_to "Corebird", "http://corebird.baedert.org/"
            releases are being produced by
            = link_to "Timm Bäder", "http://baedert.org/"
            
            %pre
              :preserve
                <span class="unselectable">$ </span>flatpak install --from https://raw.githubusercontent.com/baedert/corebird-flatpak/master/org.baedert.corebird.flatpakref
                <span class="unselectable">$ </span>flatpak run org.baedert.corebird
                
            
            %a{:name => "feedreader"}
            %h4 FeedReader

            %p
              Builds of the latest 
              = link_to "FeedReader", "https://jangernert.github.io/FeedReader/" 

            %pre
              :preserve
                <span class="unselectable">$ </span>flatpak install --from http://feedreader.xarbit.net/feedreader-repo/feedreader.flatpakref
                <span class="unselectable">$ </span>flatpak run org.gnome.FeedReader
                
            %a{:name => "builder"}
            %h4 Builder

            %p
              Builds of the latest 
              = link_to "Builder", "https://wiki.gnome.org/Apps/Builder" 
            %pre
              :preserve
                <span class="unselectable">$ </span>flatpak install --from https://git.gnome.org/browse/gnome-apps-nightly/plain/gnome-builder.flatpakref
                <span class="unselectable">$ </span>flatpak run org.gnome.Builder                
