---
title: Flatpak—the future of application distribution
description: #{locals[:name]} Quick Setup
---

%section#setup
  .container
    .row
      .col-lg-10.col-lg-offset-1
        %h1.centered
          = locals[:name]
          Quick Setup
        %p.centered
          Follow these simple steps to start using Flatpak

    .row.largegap
      .col-lg-12
        %ol.distrotut
          - if locals[:introduction]
            = locals[:introduction]
          - Array(locals[:steps]).each_with_index do |step, i|
            %li
              %h2= step[:name]
              %p= step[:text]