---
title: Flatpak - the future of application distribution
description: The days of chasing multiple Linux distributions are over. Standalone apps for Linux are here!
---
%header
  .header-content
    .header-content-inner
      %h1 the future of application distribution
      %hr
        %p Flatpak is the next-generation technology for building and installing applications. It has the power to revolutionize the Linux application ecosystem.
        %a.btn.btn-primary.btn-xl.page-scroll{:href => "#features"} Learn More
      %h5.largegap Projects that are using and supporting Flatpak
      %div.logos
        %span
          =image_tag 'img/logos/endless.svg'
        %span
          =image_tag 'img/logos/fedora.svg'
        %span
          =image_tag 'img/logos/document_foundation.svg'
%section#features.bg-primary
  .container
    .row
      .col-lg-8.col-lg-offset-2.text-center
        %h2.section-heading Flatpak Features
        %hr.light
    .row
      .col-lg-2.col-sm-3.col-lg-offset-1
        %h3 For users
      .col-lg-8.col-sm-9
        %ul
          %li
            %h4 Access a wide varienty of applications
            %p The list of Flatpak applicatons is growing all the time and includes Spotify, Skype and Telegram.
          %li
            %h4 Get new versions faster
            %p New releases of applications appear sooner with Flatpak.
          %li
            %h4 Safely update your apps without having to reboot
            %p Unlike package managers, Flatpak can safely update applications on the fly.
          %li
            %h4 Install different versions of the same application
            %p Simultaneously install multiple versions of the same application.
          %li
            %h4 Secure, sandboxed applications
            %p Flatpak's sandboxing technology prevents exploits and hinders malicious applications.
          %li
            %a.btn.btn-primary.btn-xl{:href => "apps.html"} Install Flatpak Applications
    .row.largegap
      .col-lg-2.col-sm-3.col-lg-offset-1
        %h3 For developers
      .col-lg-8.col-sm-9
        %ul
          %li
            %h4 Run the same app on all the main Linux distributions
            %p Create one app bundle and distribute it to the entire Linux desktop market.
          %li
            %h4 Consistent environmnet for development, testing and deployment
            %p Develop and test your application in an environment that's identical to the one users have.
          %li
            %h4 Easy-to-use, fully-documented build tools
            %p 
              Flatpak's build tools are simple and easy to use, and come with a 
              =link_to 'full set of documentation.', 'http://flatpak.readthedocs.io/en/latest/'
          %li
            %h4 Maintained collections of essential dependencies
            %p Runtimes provide stable sets of dependencies that can be used by applications.
          %li
            %h4 Pick and choose application dependencies
            %p Dependencies that aren't in a runtime can be bundled as part of an application. Versions of the dependencies that are used can be fixed and patched.
          %li
            %h4 Future-proof builds
            %p Runtimes are forward compatible, irrespective of distribution changes. Flatpak applications run on new Linux distribution versions as they are released.
          %li
            %a.btn.btn-primary.btn-xl{:href => "hello-world.html"} Create an Application in 5 minutes

    
%section#about
  .container
    .row
      .col-lg-10.col-lg-offset-1
        %h1.section-heading.text-center About
        %hr.primary
        %p
          Flatpak might be a new technology, but it's not a new idea. It grew out of the experience of long-standing Linux desktop engineers, and has been in the planning for years.
          
        %p 
          Flatpak is developed by an independent community, made up of volunteers and contributors from supporting organizations. Its lead developer is Alex Larsson, Principal Engineer at Red Hat. Alex has been working on critical open source projects for almost 20 years.
        %p
          All our code is freely available, with no contributor agreement required. We collaborate and liase with other communities and projects as much as possible, and welcome their input.
        %p
          For more information, see our 
          = succeed "," do
            = link_to "FAQ", "faq.html"
          =link_to "command line","command-line.html"
          and 
          = link_to "developer guidelines", "http://flatpak.readthedocs.io/en/latest/"
          and the 
          = succeed "." do
            = link_to "developer wiki", "https://github.com/flatpak/flatpak/wiki"
    .row.largegap
      .col-lg-12.text-center
        %h3 Contact
    .row
      .col-lg-2.col-xs-6.col-lg-offset-4
        .right.toneddown Mailing list
      .col-lg-4.col-xs-6          
        =link_to "xdg-app@lists.freedesktop.org", "http://lists.freedesktop.org/mailman/listinfo/xdg-app"
    .row
      .col-lg-2.col-xs-6.col-lg-offset-4
        .right.toneddown IRC
      .col-lg-4.col-xs-6          
        \#flatpak on Freenode
    .row
      .col-lg-2.col-xs-6.col-lg-offset-4
        .right.toneddown Code, Issues and Wiki
      .col-lg-4.col-xs-6
        See our
        =link_to "Github project", "https://github.com/flatpak/flatpak"
