---
title: Flatpak - the future of application distribution
description: The days of chasing multiple Linux distributions are over. Standalone apps for Linux are here!
---
%header
  .header-content
    .header-content-inner
      %h1 the future of application distribution
      %hr
        %p Flatpak is the next-generation technology for building and installing applications. It has the power to revolutionize the Linux application ecosystem.
        %a.btn.btn-primary.btn-xl.page-scroll{:href => "#about"} Learn More
      %h5.largegap Projects that are using and supporting Flatpak
      %span logo
      %span logo
      %span logo
      %span logo
      %span logo
      %span logo
      %span logo
%section#about.bg-primary
  .container
    .row
      .col-lg-8.col-lg-offset-2.text-center
        %h2.section-heading Flatpak Features
        %hr.light
    .row
      .col-lg-2.col-sm-3.col-lg-offset-1
        %h3 For users
      .col-lg-8.col-sm-9
        %ul
          %li
            %h4 Access a wide varienty of applications
            %p The list of Flatpak apps is growing all he time, and includes Spotify, Skype and Telegram.
          %li
            %h4 Newer versions of applications
            %p Get the latest versions faster, direct form the authors.
          %li
            %h4 Safely update your apps without having to reboot
            %p Unlike with package managers, Flatpak applications can be safely updated on the fly.
          %li
            %h4 Install different versions of the same application
            %p Simultaneously install multiple versions of the same app — this i great for testing.
          %li
            %h4 Secure, sandboxed applications
            %p Flatpak's sandboxing technology prevents exploits and hinders malicious applications.
          %li
            %a.btn.btn-primary.btn-xl{:href => "#"} Install Flatpak Applications
    .row.largegap
      .col-lg-2.col-sm-3.col-lg-offset-1
        %h3 For developers
      .col-lg-8.col-sm-9
        %ul
          %li
            %h4 Run the same app on all the main Linux distributions
            %p Create one app bundle and distribute it to the entire Linux desktop market.
          %li
            %h4 Consistent environmnet for development, testing and deployment
            %p Develop and test your application in an environment that's identical to the one users have.
          %li
            %h4 Easy-to-use, fully-documented build tools
            %p 
              Flatpak's build tools are simple and easy to use, and come with a 
              =link_to 'full set of documentation.', 'http://flatpak.readthedocs.io/en/latest/'
          %li
            %h4 Maintained collections of basic dependencies
            %p Runtimes provide stable sets of dependencies to be used in applications.
          %li
            %h4 Pick and choose application dependencies
            %p Dependencies that aren't in a runtime can be bundled as a part of an application. Deelopers get to control dependency versions. Libraries can be patched.
          %li
            %h4 Future-proof builds
            %p Runtimes are forward compatible, irrespective of distribution changes. Flatpak applications run on new Linux distribution versions as they are released.
          %li
            %a.btn.btn-primary.btn-xl{:href => "http://flatpak.readthedocs.io/en/latest/building-simple-apps/#creating-an-app"} Create an Application in 5 minutes

    
        
%section#users
  .container
    .row
      .col-lg-10.col-lg-offset-1
        %h1.section-heading.text-center Install and Run a Flatpak
        %hr.primary
        %p
          With Flatpak, applications can be safely updated on a running system, without 
          fear of conflicts occuring. Flatpak also allows multiple versions of the same 
          application to be installed at the same time, which is great for testing 
          development or testing versions. And in the future, Flatpak's security first approach 
          guarantee greater privacy and peace of mind.
        %p
          Various applications are available as Flatpaks, including stable and nightly
          GNOME applications, and a collection of nightly builds of graphics applications like
          GIMP, Inkscape and MyPaint. See the
          %a{:href => "apps.html"} apps page
          for more details.
        %p
          In the near future, you will be able to install flatpaks painlessly from graphical tools
          such as GNOME Software. Until then, you can use the commandline tool to install and update flatpaks.

        %h3 1. Install Flatpak
        %p
          Before you can install applications with Flatpak, you need to install
          Flatpak itself. Currently this has to be done using the command line.
          This section contains instructions for installing Flatpak on Fedora or Ubuntu.
          Details on how to install Flatpak on other distros are available on the 
          %a{:href => "getting.html"} getting Flatpak
          page.
        %p
          With Fedora 23 or later, run:
        :preserve
          <pre>
          <span class="unselectable">$ </span>sudo dnf install flatpak
          </pre>
          
        %p
          On Ubuntu, Flatpak is available through a PPA. To install it, run:
        :preserve
          <pre>
          <span class="unselectable">$ </span>sudo add-apt-repository ppa:alexlarsson/flatpak
          <span class="unselectable">$ </span>sudo apt update
          <span class="unselectable">$ </span>sudo apt install flatpak
          </pre>
          
        %h3 2. Add repositories
        %p
          Flatpak allows you to install software from remote repositories. For this
          example we're going to use two repositories: one which contains GNOME apps,
          and one which contains the runtime that provides the dependencies
          they need.

        :preserve
          <pre>
          <span class="unselectable">$ </span>flatpak remote-add --from gnome https://sdk.gnome.org/gnome.flatpakrepo
          <span class="unselectable">$ </span>flatpak remote-add --from gnome-apps https://sdk.gnome.org/gnome-apps.flatpakrepo
          </pre>
        
        %p Once this is complete, you're all set to install some apps!
        %h3 3. View, install and run apps
        %p
          To view which apps are available in the gnome-apps repository, just run:
        :preserve
          <pre>
          <span class="unselectable">$ </span>flatpak remote-ls gnome-apps --app
          </pre>
        %p
          To download and install an app, like gedit, run:
        :preserve
          <pre>
          <span class="unselectable">$ </span>flatpak install gnome-apps org.gnome.gedit
          </pre>
          This will automatically find and install the required runtime that the application depends on from
          the set of configured remotes.

        %p
          Installed applications should appear in the usual place in your desktop. You can also run them from the command line:
        :preserve
          <pre>
          <span class="unselectable">$ </span>flatpak run org.gnome.gedit
          </pre>

%section#developers.no-padding
  
%aside.bg-dark
  .container
    .call-to-action


  .container
    .row
      .col-lg-10.col-lg-offset-1
        %h1.section-heading.text-center Create an App with Flatpak
        %hr.primary
        %p
          Developers can quickly get started using the tutorial below. More detailed information is available in 
          the 
          =link_to 'developers page.', 'developer.html'
        %h3 1. Install Flatpak
        %p
          First we need to install Flatpak itself. The instructions here are for Fedora or Ubuntu.
          Details for other distros can be found on the
          %a{:href => "getting.html"} getting Flatpak
          page.
          If you are using Fedora, run:
        :preserve
          <pre>
          <span class="unselectable">$ </span>sudo dnf install flatpak
          </pre>
        %p
          On Ubuntu, Flatpak is available through a PPA. To install it, run:
        :preserve
          <pre>
          <span class="unselectable">$ </span>sudo add-apt-repository ppa:alexlarsson/flatpak
          <span class="unselectable">$ </span>sudo apt update
          <span class="unselectable">$ </span>sudo apt install flatpak
          </pre>
          
        %h3 2. Install a runtime
        %p
          Flatpak requires every app to specify a runtime that it uses for its dependencies.
          We'll use the GNOME 3.22 development platform runtime for this. To install the runtime, 
          we first need to add the repository that provides it. Run:
        :preserve
          <pre>
          <span class="unselectable">$ </span>flatpak remote-add --from gnome https://sdk.gnome.org/gnome.flatpakrepo
          </pre>
          
        %p And then install the runtime itself:
        :preserve
          <pre>
          <span class="unselectable">$ </span>flatpak install gnome org.gnome.Platform//3.22
          </pre>
          
        %h3 3. Create your app
        %p
          First we need to create the directory structure for the app:
        :preserve
          <pre>
          <span class="unselectable">$ </span>mkdir hello
          <span class="unselectable">$ </span>mkdir hello/files
          <span class="unselectable">$ </span>mkdir hello/files/bin
          <span class="unselectable">$ </span>mkdir hello/export
          </pre>
          
        %p
          Now let's add something simple: create a file in 
          %code hello/files/bin/
          called 
          = succeed "." do
            %code hello.sh
          Then add the following to the file and save it:
        %pre
          :preserve
            #!/bin/sh
            echo "Hello world, from a sandbox"
        %p
          Now we need to provide some information about the application.
          In Flatpak this is specified in a key-value file called 
          %code metadata
          , which goes in the
          = succeed "directory." do
            %code hello
          For a simple app this doesn't contain much, so we can create it manually:
        %pre
          :preserve
            [Application]
            name=org.test.Hello
            runtime=org.gnome.Platform/x86_64/3.22
            command=hello.sh
        %p
          This specifies the application identifier (
          %em> org.test.Hello
          ) as
          well as the runtime the application uses and the command to start the app with.
        %h3 4. Put the app in a repository
        %p
          Congratulations, you've made an app! To be able to install it, you need to put it
          in a repository. This is done with the build-export command:
        :preserve
          <pre>
          <span class="unselectable">$ </span>flatpak build-export repo hello
          </pre>
          
        %p
          This will initialize a local repository in the "repo" directory and export the app to it.
        %h3 5. Install
        %p
          Now we're ready to add the repository that was just created and install the app. 
          This is done with two commands:
        :preserve
          <pre>
          <span class="unselectable">$ </span>flatpak --user remote-add --no-gpg-verify tutorial-repo repo
          <span class="unselectable">$ </span>flatpak --user install tutorial-repo org.test.Hello
          </pre>
        %p
          This will install the remote and the app in the users homedirectory due to the --user argument.
          This is useful for test builds and other local things.
        %h3 6. Run
        %p
          All that's left is to run the app. This can be done with:
        :preserve
          <pre>
          <span class="unselectable">$ </span>flatpak run org.test.Hello
          </pre>
        %p
          This will print
          = succeed "." do
            %em Hello world, from a sandbox
        %p
          Ta da! That's it: you've successfully built, installed and run your first Flatpak. Many 
          of these steps are simplified by Flatpak's built in tools. For information on how to use 
          them, as well as how to build and distribute more complex apps 
          =link_to 'see the developers page.', 'developer.html'        
%section#get-involved
  .container
    .row
      .col-lg-10.col-lg-offset-1
        %h1.section-heading.text-center Get Involved
        %hr.primary
        %p
          Flatpak is Free Software and is developed in the open, as a part of the Freedesktop 
          project. To get in touch, use the 
          =link_to "xdg-app mailing list", "http://lists.freedesktop.org/mailman/listinfo/xdg-app"
          or 
          %em #flatpak
          IRC channel on Freenode. Code can be found on
          =link_to "Github", "https://github.com/flatpak/flatpak"
          (along with a 
          = succeed ")" do
            = link_to "wiki", "https://github.com/flatpak/flatpak/wiki"
          and issues are tracked on 
          = succeed "." do
            = link_to "Github Issues", "https://github.com/flatpak/flatpak/issues"
