---
title: Flatpak—the future of application distribution
description: The days of chasing multiple Linux distributions are over. Standalone apps for Linux are here!
---

%section.imagebanner.centered
  .container
    .row.largegap
      .col-lg-12
        %h1.section-heading 
          The future of 
          %span.emphasize apps on Linux
        %p Flatpak is a next-generation technology for building and distributing desktop applications on Linux

%section.illustration.centered
  .container
    .row
      .col-lg-8.col-lg-offset-2
        = image_tag '/img/delivery_truck2.png'

%section#appsplash.bg-secondary
  .container
    .row
      .col-sm-6.col-sm-offset-1
        %h3 
          Start using Flatpak and install from a growing collection of apps
        .appgrid
          - 0.upto(6) do |i|
            - if data.apps[i].icons["128"]
              .icon.featured{:style => "background-image: url(#{data.apps[i].icons['128']})"}
            - elsif data.apps[i].icons["64"]
              .icon{:style => "background-image: url(#{data.apps[i].icons['64']})"}
      .col-sm-4.col-sm-offset-1.centered
        %a#quicksetupbtn.btn-default.btn.btn-xl.page-scroll{:href => "/setup"} Get set up
        
        %p.small.mediumgap
          Already set up? Head over to
          = link_to "Flathub", "https://flathub.org"
          to install some apps.



%section.bg-primary-neutral
  .container
    .row.centered
      .col-sm-10.col-sm-offset-1
        %iframe{'width'=>'100%','height'=>'440', 'src'=>'https://www.youtube.com/embed/jDVCITRWGgs', 'frameborder'=>'0', 'allowfullscreen'=>'true'}
          =link_to 'Flatpak 1.0', 'https://youtu.be/jDVCITRWGgs'
    .row.centered
      .col-sm-6.col-sm-offset-3
        %h2 A new world for application developers
        %p Flatpak changes app distribution for the better. Advantages include:
    .row.largegap
      .col-sm-5.col-sm-offset-1
        %h4 Build for every distro
        %p Create one app and distribute it to the entire Linux desktop market.
      .col-sm-5
        %h4 Stable platforms
        %p Runtimes provide platforms of common libraries that you can depend on.
    .row
      .col-sm-5.col-sm-offset-1
        %h4 Consistent environments
        %p Develop and test your application in an environment that’s identical to the one users have.
      .col-sm-5
        %h4 Full control over dependencies
        %p Flatpak makes it easy to bundle your own libraries as part of your app.
    .row
      .col-sm-5.col-sm-offset-1
        %h4 Easy build tools
        %p 
          Flatpak’s build tools are simple and easy to use, and come with a 
          =link_to 'full set of documentation.', 'https://docs.flatpak.org/'
      .col-sm-5
        %h4 Future-proof builds
        %p Flatpak apps continue to be compatible with new versions of Linux distributions.
    .row
      .col-sm-5.col-sm-offset-1
        %h4 Distribution made easy
        %p 
          Make your app available to a rapidly growing audience of Flatpak users, with
          =link_to 'Flathub.', 'https://flathub.org/'
      .col-sm-5
        %h4 An independent project
        %p Flatpak is developed by an independent community, with no lock-in to a single vendor.
    .row.largegap
      .col-sm-6.col-sm-offset-4
        %a.btn.btn-default.btn-xl.page-scroll{:href => "https://docs.flatpak.org/en/latest/getting-started.html"} 5 minute tutorial
        %a.btn.btn-primary.btn-xl.page-scroll{:href => "https://docs.flatpak.org/en/latest/"} Developer guide

%section#devsplash.bg-secondary
  .container
    .row.largegap
      .col-sm-5.col-sm-offset-1
        %h3 
          Flatpak can be used with a total of
          = data.distro.count
          distros and counting
        %p
          See the 
          = link_to "complete list.", "/setup"
      .col-sm-6
        .distrogrid
          - 0.upto(4) do |i|
            .icon{:style => "background-image: url(/img/distro/#{data.distro[i].logo})"}

%section.bg-primary
  .container
    .row.centered
      .col-sm-6.col-sm-offset-3
        %h2 What people are saying about Flatpak
    .row.largegap
      .col-sm-5.col-sm-offset-1
        %blockquote
          %p
            Bringing Flatpak technology into Debian enables us to run applications in a predictable environment with their most suitable library stack, without compromising the base OS's stability and flexibility.
          .author
            %em Simon McVittie 
            .title Senior Software Engineer, Collabora
      .col-sm-5
        %blockquote
          %p
            At Endless, we’re proud to be a part of this movement and have fully embraced Flatpak by readily converting all of our applications for our upcoming release and continuing to build new Flatpak apps.
          .author
            %em Jonathan Blandford 
            .title VP of Software Engineering, Endless
    .row
      .col-sm-5.col-sm-offset-1
        %blockquote
          %p
            The Fedora Workstation team are very excited about Flatpak and the prospects it brings for making the Linux desktop easier to develop for. We plan to continue supporting this effort going forward.
          .author
            %em Christian F.K. Schaller
            .title Senior Manager, Red Hat
      .col-sm-5
        %blockquote
          %p
            Flatpak will enable us (as a Linux ISV) to distribute a better LibreOffice, with up-to-date dependencies and a platform that can run on many systems. I’m excited to see that happen.
          .author
            %em Michael Meeks
            .title Director, The Document Foundation
